* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*Header*/

header {
  border-bottom: solid #d3d3d3 1px;
  width: 100%;
  padding-left: 218px;
  overflow: hidden;
}


#logo {
  border-bottom: solid #d3d3d3 1px;
  border-top: solid #d3d3d3 1px;
  margin: 40px 60px 30px;
  float: left;
}

.dc {
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.guide {
  font-size: 40px;
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:link{
  text-decoration: none;
}

#flag4{
  width: 200px;
  height: 100px;
  margin-top: 30px;
  float: left;
}

#flag5{
  width: 200px;
  height: 100px;
   margin-top: 30px;
   float: left;
}

/*Contact*/
#contact-box {
  margin: 40px 220px;
  border: 1px solid #d3d3d3;
  padding: 10px 40px 30px;
  background-color: #f2f4f4;
}

.contact {
  font-size: 32px;
  font-weight: 800;
  font-family: 'Cinzel', serif;
  color: #2F4F4F;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.thanks {
  font-size: 18px;
  font-weight: 800;
  font-family:'Comfortaa', cursive;
  color: #2F4F4F;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3d3d3;
  overflow: hidden;
}

#test{
 overflow: hidden;
 margin-top: 20px;
 margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Cinzel', serif;
  color: #2F4F4F;
  text-transform: uppercase;
}

.name{
  float: left;
}

#name1{
  padding: 5px 40px 5px 0px;
}

.email{
  float: left;
  margin-left: 100px;
}

#email1{
  padding: 5px 40px 5px 0px;
}

#message1{
  padding: 0 300px 80px 0;
  clear: both;
  overflow: hidden;
}

/*
input#message1{
  width: 100%;
}
*/

.send{
  font-size: 20px;
  font-weight: 800;
  font-family: 'Cinzel', serif;
  color: #2F4F4F;
  text-transform: uppercase;
  padding: 5px 20px 5px;
  background-color: #92a8d1;
  clear: both;
  display: block;
  margin-top: 40px;
}


/*Footer*/

footer{
  border-top: solid #d3d3d3 1px;
  padding-left: 222px;
  overflow: hidden;
}

.footer{
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  border-bottom: solid #95a5a6 1px;
  border-top: solid #95a5a6 1px;
  margin: 50px 100px 30px;
  float: left;
  
}

#flag2{
  width: 200px;
  height: 100px;
  margin-top: 20px;
  float: left;
}

#flag3{
  width: 200px;
  height: 100px;
   margin-top: 20px;
   float: left;
}