* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*Header*/

header {
  border-bottom: solid #d3d3d3 1px;
  width: 100%;
  padding-left: 218px;
  overflow: hidden;
}


#logo {
  border-bottom: solid #d3d3d3 1px;
  border-top: solid #d3d3d3 1px;
  margin: 40px 60px 30px;
  float: left;
}

.dc {
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.guide {
  font-size: 40px;
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:link{
  text-decoration: none;
}

#flag4{
  width: 200px;
  height: 100px;
  margin-top: 30px;
  float: left;
}

#flag5{
  width: 200px;
  height: 100px;
   margin-top: 30px;
   float: left;
}

/*Review*/
.title{
  font-size: 32px;
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  padding-top: 20px;
  color: #2F4F4F;
}

.review{
   font-size: 20px;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  padding-top: 20px;
  color: #2F4F4F;
  padding-bottom: 100px;
}

/*Footer*/

footer{
  border-top: solid #d3d3d3 1px;
  padding-left: 222px;
  overflow: hidden;
}

.footer{
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  border-bottom: solid #95a5a6 1px;
  border-top: solid #95a5a6 1px;
  margin: 50px 100px 30px;
  float: left;
  
}

#flag2{
  width: 200px;
  height: 100px;
  margin-top: 20px;
  float: left;
}

#flag3{
  width: 200px;
  height: 100px;
   margin-top: 20px;
   float: left;
}