* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*Header*/
header {
  margin: 0 auto;
  width: 805px;
}


#logo {
  margin: 40px 180px 40px;
  border-bottom: solid #d3d3d3 1px;
}

.dc {
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.guide {
  font-size: 40px;
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:link{
  text-decoration: none;
}

/*Review*/
.title{
  font-size: 32px;
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  padding-top: 40px;
  color: white;
  border-bottom: solid #d3d3d3 1px;
  margin: 0 460px 20px;
}

#overlay{
  background-color: rgba(000,000,000,.5);
  width: 100%;
  height: 1000px;
}

#overlay:hover{
  background-color: rgba(000,000,000,.4);
}

.review{
  font-size: 20px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: white;
}

#space{
   padding-top: 10px;
}


#dcslices{
  background-image: url("../images/dc slices.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}





/*Footer*/

footer{
  border-top: solid #d3d3d3 1px;
  margin: 0 auto;
  width: 600px;
}

.footer{
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  border-bottom: solid #95a5a6 1px;
  margin: 30px 50px;
  text-align: center;
}