* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*Header*/
header {
  margin: 0 auto;
  width: 805px;
}


#logo {
  margin: 40px 180px 40px;
  border-bottom: solid #d3d3d3 1px;
}

.dc {
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.guide {
  font-size: 40px;
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:link{
  text-decoration: none;
}

/*Header Responsive*/
@media only screen and (max-width: 767px) {
  .dc, .guide{
    width: 40%;
  }
}

/*Review*/
.title{
  font-size: 36px;
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  padding-top: 40px;
  color: white;
  border-bottom: solid #d3d3d3 1px;
  margin: 0 460px 30px;
}

/*Title Responsiveness*/
@media only screen and (max-width: 767px) {
  .title{
    width: 40%;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .title{
    width: 40%;
    margin: 40px auto;
  }
}

#overlay{
  background-color: rgba(000,000,000,.5);
  width: 100%;
  height: 350px;
  padding-top: 10px;
}

#overlay:hover{
  background-color: rgba(000,000,000,.4);
}

/*Overlay Responsiveness*/
@media only screen and (max-width: 767px) {
  #overlay{
    height: 400px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #overlay{
    height: 400px;
  }
}


.review{
  font-size: 20px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}


.tags{
  font-size: 20px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: white;
}

.space{
   padding-top: 30px;
}

.spacing{
  padding-top: 5px;
}

/*DC Slices*/
#dcslices{
  background-image: url("../images/dc slices.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Kinship*/
#kinship{
  background-image: url("../images/kinship4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.kinship{
  margin: 10px 150px;
}

/*Pineapples and Pearls*/
#pnp{
  background-image: url("../images/pnp11.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.pnp{
  margin-top: 10px;
}

.titlepnp{
  margin: 0 360px 30px;
}

/*Osteria Morini*/
#osteria{
  background-image: url("../images/osteria.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.osteria{
  margin-top: 10px;
}

.titleosteria{
  margin: 0 390px 30px;
}

/*Toki Underground*/
#toki{
  background-image: url("../images/toki.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.toki{
  margin: 10px 150px;
}

.titletoki{
  margin: 0 360px 30px;
}

#overlaytoki{
  background-color: rgba(000,000,000,.5);
  width: 100%;
  height: 380px;
  padding-top: 10px;
}

#overlaytoki:hover{
  background-color: rgba(000,000,000,.4);
}

/*Red Hen*/
 #redhen{
  background-image: url("../images/red hen10.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.redhen{
  margin: 10px 150px;
}

.titleredhen{
  margin: 0 420px 30px;
}

/*Donburi*/
#donburi{
  background-image: url("../images/donburi.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.donburi{
  margin: 10px 150px;
}

.titledonburi{
  margin: 0 420px 30px;
}

/*Fiola Mare*/
#fiola{
  background-image: url("../images/fiola mare.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.fiola{
  margin-top: 10px;
}

.titlefiola{
  margin: 0 420px 30px;
}

/*Rasika West End*/
#rasika{
  background-image: url("../images/rasika2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.rasika{
  margin-top: 10px;
}

.titlerasika{
  margin: 0 380px 30px;
}

/*Beau Thai*/
#beau{
  background-image: url("../images/beau thai3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.beau{
  margin-top: 10px;
}

.titlebeau{
  margin: 0 420px 30px;
}

/*The Source*/
#source{
  background-image: url("../images/source3.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.source{
  margin-top: 10px;
}

.titlesource{
  margin: 0 420px 30px;
}

/*Proof*/
#proof{
  background-image: url("../images/proof.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.proof{
  margin-top: 10px;
}

.titleproof{
  margin: 0 420px 30px;
}

/*Estadio*/
#estadio{
  background-image: url("../images/estadio.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.estadio{
  margin-top: 10px;
}

.titleestadio{
  margin: 0 440px 30px;
}

/*Del Campo*/
#delcampo{
  background-image: url("../images/del campo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.delcampo{
  margin-top: 10px;
}

.titledelcampo{
  margin: 0 420px 30px;
}

/*Sushi Taro*/
#sushitaro{
  background-image: url("../images/sushi taro5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.sushitaro{
  margin-top: 10px;
}

.titlesushitaro{
  margin: 0 420px 30px;
}

/*Dukem*/
#dukem{
  background-image: url("../images/dukem5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.review.dukem{
  margin-top: 10px;
}

.titledukem{
  margin: 0 460px 30px;
}

/*Reviews Responsive*/
@media only screen and (max-width: 767px) {
  .title{
    margin-left: 0px;
    width: 100%;
  }
}

/*Contact*/
#overlay2{
  background-color: rgba(000,000,000,.5);
  width: 100%;
  height: 180px;
}

#overlay2:hover{
  background-color: rgba(000,000,000,.4);
}

#second{
  border-top: solid #d3d3d3 1px;
  border-bottom: solid #d3d3d3 1px;
  text-align: center;
  clear: both;
  background-image: url("../images/background7.png");
   background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.comment{
    font-family: 'Cinzel', serif;
    color: #2F4F4F;
    font-size: 26px;
    font-weight: 800;
    border-bottom: solid #d3d3d3 1px;
   text-align: center;
   margin: 0px 400px 30px;
   color: white;
   padding-top: 40px;
}

.contact{
  font-size: 20px;
    font-family: 'Cinzel', serif;
    padding: 5px 20px 5px;
    color: #2F4F4F;
    text-transform: uppercase;
    background-color: #92a8d1;
    border-radius: 5px;
}


/*Contact Responsive*/
@media only screen and (max-width: 767px) {
  .comment{
    width: 50%;
    margin: 30px auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .comment{
    width: 50%;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 767px) {
  #second{
    background-attachment: scroll;
    background-size: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #second{
    background-attachment: local;
    background-size: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  #overlay2{
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #overlay2{
    width: 100%;
  }
}


/*Footer*/

footer{
  margin: 0 auto;
  width: 450px;
}

.footer{
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  border-bottom: solid #95a5a6 1px;
  margin: 30px 50px;
  text-align: center;
}

/*Footer Responsive*/
@media only screen and (max-width: 767px) {
  footer{
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer{
    width: 50%;
    margin: auto;
  }
}