* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*Header*/
header {
  margin: 0 auto;
  width: 805px;
}


#logo {
  margin: 40px 180px 50px;
  border-bottom: solid #d3d3d3 1px;
}

.dc {
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.guide {
  font-size: 40px;
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:link{
  text-decoration: none;
}


/*About*/
#foodie {
  background-image: url("../images/background4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

#overlay{
  background-color: rgba(000,000,000,.5);
  width: 100%;
  height: 360px;
}

#overlay:hover{
  background-color: rgba(000,000,000,.45);
}

.about {
   font-size: 28px;
    font-weight: 800;
    font-family: 'Cinzel', serif;
    color: white;
    text-transform: uppercase;
    border-bottom: solid #d3d3d3 1px;
   text-align: center;
   margin: 0px 260px;
   padding-top: 120px;
   padding-bottom: 5px;
}

#call{
  text-transform: uppercase;
}

.foodie1 {
  font-size: 20px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  margin: 0 auto;
  color: white;
  padding-top: 20px;
}

/*Filters*/
#dropdown {
  overflow: hidden;
}

.categories ul{
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  clear: both;
}

.categories li{
  float: left;
  list-style-type: none;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Cinzel', serif;
  color: #033048;
  margin: 0 50px;
}

.sub-categories ul {
  display: none;
  float: left;
  margin: 0 34px;
}

.sub-categories li{
  font-size: 18px;
  font-weight: 300;
  font-family: 'Cinzel', serif;
  color: #033048;
  list-style-type: none;
}

.hood li:hover{
  background-color: #dcdcdc;
}

.cuisine li:hover{
   background-color: #dcdcdc;
}

.price li:hover{
  background-color: #dcdcdc;
}

.good li:hover{
  background-color: #dcdcdc;
}

.atmo li:hover{
  background-color: #dcdcdc;
}

.go {
  font-size: 24px;
  font-weight: 800;
  font-family: 'Cinzel', serif;
  list-style-type: none;
  padding: 5px 20px 5px;
  margin: 0 auto;
}

.go:hover{
  cursor: pointer;
}


/*Boxes*/

.mmm{
 font-size: 24px;
 font-weight: 800;
 font-family: 'Cinzel', serif;
 color: #2F4F4F;
 text-align: center;
 border-bottom: solid #d3d3d3 1px;
 border-top: solid #d3d3d3 1px;
 text-align: center;
 margin: 40px 490px 20px;
 background-color: #f2f4f4;
 clear: both;
}

#main {
  overflow: hidden;
  width: 100%;
  padding: 30px 50px 40px;
}

a:visited {
  color: #2F4F4F;
  text-decoration: none;
}

a:hover, :link {
  color: black;
  text-decoration: none;
}

.restaurant-item{
  width: 25%;
  float: left;
  padding: 15px;
}

#top-left1-column {
  background-image: url("../images/pnp.jpg");
}

#top-left2-column{
  background-image: url("../images/osteria.jpeg");
}

#top-right1-column{
  background-image: url("../images/toki.jpg");
}

#top-right2-column{
  background-image: url("../images/red hen.jpg");
}

#second-left1-column{
  background-image: url("../images/donburi.jpg");
}

#second-left2-column{
  background-image: url("../images/kinship.jpg");
}

#second-right1-column{
  background-image: url("../images/dc slices.jpg");
}

#second-right2-column{
  background-image: url("../images/fiola mare.jpg");
}

#third-left1-column{
  background-image: url("../images/rasika.jpg");
}

#third-left2-column{
  background-image: url("../images/beau thai.jpg");
}

#third-right1-column{
  background-image: url("../images/source.jpg");
}

#third-right2-column{
  background-image: url("../images/proof.jpg");
}

#fourth-left1-column{
  background-image: url("../images/estadio.jpg");
}

#fourth-left2-column{
  background-image: url("../images/del campo.jpg");
}

#fourth-right1-column{
  background-image: url("../images/sushi taro.jpg");
}

#fourth-right2-column{
  background-image: url("../images/dukem.jpg");
}


.top-box {
  width: 100%;
  height: 220px;
  background-color: rgba(255,255,255,.5);
}

.top-box:hover{
  background-color: rgba(255,255,255,.7);
}

.number {
  color: #2F4F4F;
  text-align: center;
  padding-top: 90px;
  font-family: 'Cinzel', serif;
  font-size: 26px;
}


/*Contact*/
#overlay2{
  background-color: rgba(000,000,000,.5);
  width: 100%;
  height: 180px;
}

#overlay2:hover{
  background-color: rgba(000,000,000,.4);
}

#second{
  border-top: solid #d3d3d3 1px;
  border-bottom: solid #d3d3d3 1px;
  text-align: center;
  clear: both;
  background-image: url("../images/background9.jpg");
   background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.comment{
    font-family: 'Cinzel', serif;
    color: #2F4F4F;
    font-size: 26px;
    font-weight: 800;
    border-bottom: solid #d3d3d3 1px;
   text-align: center;
   margin: 0px 430px 30px;
   color: white;
   padding-top: 42px;
}

.contact{
  font-size: 20px;
    font-family: 'Cinzel', serif;
    padding: 5px 20px 5px;
    color: #2F4F4F;
    text-transform: uppercase;
}

/*Footer*/

footer{
  border-top: solid #d3d3d3 1px;
  margin: 0 auto;
  width: 600px;
}

.footer{
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  border-bottom: solid #95a5a6 1px;
  margin: 30px 50px;
  text-align: center;
}
