* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*Header*/
#logo {
  margin: 40px 360px 50px;
  border-bottom: solid #d3d3d3 1px;
}

#logo1{
  color: black;
}

.dc {
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.guide {
  font-size: 40px;
  text-align: center;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

a:visited{
  text-decoration: none;
  color: black;
}

a:link{
  text-decoration: none;
}

/*Header Responsive*/
@media only screen and (max-width: 767px) {
  #logo{
    width: 40%;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #logo {
    width: 40%;
    margin: 40px auto;
  }
}


/*About*/
#foodie {
  background-image: url("../images/background4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

#overlay{
  background-color: rgba(000,000,000,.5);
  height: 320px;
}

#overlay:hover{
  background-color: rgba(000,000,000,.45);
}

.about {
   font-size: 30px;
    font-weight: 800;
    font-family: 'Cinzel', serif;
    color: white;
    text-transform: uppercase;
   text-align: center;
   margin: 0 450px;
   padding-top: 120px;
   padding-bottom: 5px;
   border-bottom: #d3d3d3 1px solid;
}

#call{
  text-transform: uppercase;
}

.foodie1 {
  font-size: 20px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  margin: 0 auto;
  color: white;
  padding-top: 20px;
}

/*About Responsive*/
@media only screen and (max-width: 767px) {
  .about{
    width: 30%;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about {
    width: 30%;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  #foodie{
    background-attachment: scroll;
    background-size: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #foodie {
    background-attachment: local;
    background-size: 100%;
    margin: 0 auto;
  }
}


/*Filters*/
#filters{
  padding-bottom: 60px;
  padding-top: 20px;
  padding-left: 30px;
}

h4{
  padding: 20px 0;
  list-style-type: none;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Cinzel', serif;
  color: #033048;
}

#arrow{
  font-size: 14px;
}

.dropdown{
  overflow: hidden;
  height: 50px;
  float: left;
  margin: 0 26px;
}

.dropdown li.active {
  color: blue;
}

#hood{
 font-size: 18px;
  font-weight: 300;
  font-family: 'Cinzel', serif;
  color: #033048;
  list-style-type: none;
}

#hood:hover{
  cursor: pointer;
}

#cuisine{
 font-size: 18px;
  font-weight: 300;
  font-family: 'Cinzel', serif;
  color: #033048;
  list-style-type: none;
}

#cuisine:hover{
  cursor: pointer;
}

#price{
 font-size: 18px;
  font-weight: 300;
  font-family: 'Cinzel', serif;
  color: #033048;
  list-style-type: none;
}

#price:hover{
  cursor: pointer;
}

#good{
 font-size: 18px;
  font-weight: 300;
  font-family: 'Cinzel', serif;
  color: #033048;
  list-style-type: none;
}

#good:hover{
  cursor: pointer;
}


#atmo{
 font-size: 18px;
  font-weight: 300;
  font-family: 'Cinzel', serif;
  color: #033048;
  list-style-type: none;
}

#atmo:hover{
  cursor: pointer;
}


#gogo{
  width: 10%;
  margin: 10px auto;
  clear: both;
}

.go {
  font-size: 24px;
  font-weight: 800;
  font-family: 'Cinzel', serif;
  list-style-type: none;
  padding: 5px 20px 5px;
  display: block;
}

.go:hover{
  cursor: pointer;
}

/*Filters Responsive*/
@media only screen and (max-width: 767px) {
  #hood{
    display: block;
     clear: both;
  }
}

@media only screen and (max-width: 767px) {
  #cuisine{
    display: block;
     clear: both;
  }
}

@media only screen and (max-width: 767px) {
  #price{
    display: block;
     clear: both;
  }
}

@media only screen and (max-width: 767px) {
  #good{
    display: block;
    clear: both;
  }
}

@media only screen and (max-width: 767px) {
  #atmo{
    display: block;
    clear: both;
  }
}

/*Boxes*/
.mmm{
 font-size: 24px;
 font-weight: 800;
 font-family: 'Cinzel', serif;
 color: #2F4F4F;
 text-align: center;
 border-bottom: solid #d3d3d3 1px;
 border-top: solid #d3d3d3 1px;
 text-align: center;
 margin: 40px 490px 20px;
 background-color: #f2f4f4;
 clear: both;
}

#main {
  overflow: hidden;
  width: 100%;
  padding: 30px 50px 40px;
}

a:visited {
  color: #2F4F4F;
  text-decoration: none;
}

a:hover, :link {
  color: black;
  text-decoration: none;
}

.restaurant-item{
  width: 25%;
  float: left;
  padding: 15px;
}

#top-left1-column {
  background-image: url("../images/pnp.jpg");
}

#top-left2-column{
  background-image: url("../images/osteria.jpeg");
}

#top-right1-column{
  background-image: url("../images/toki.jpg");
}

#top-right2-column{
  background-image: url("../images/red hen.jpg");
}

#second-left1-column{
  background-image: url("../images/donburi.jpg");
}

#second-left2-column{
  background-image: url("../images/kinship.jpg");
}

#second-right1-column{
  background-image: url("../images/dc slices.jpg");
}

#second-right2-column{
  background-image: url("../images/fiola mare.jpg");
}

#third-left1-column{
  background-image: url("../images/rasika.jpg");
}

#third-left2-column{
  background-image: url("../images/beau thai.jpg");
}

#third-right1-column{
  background-image: url("../images/source.jpg");
}

#third-right2-column{
  background-image: url("../images/proof.jpg");
}

#fourth-left1-column{
  background-image: url("../images/estadio.jpg");
}

#fourth-left2-column{
  background-image: url("../images/del campo.jpg");
}

#fourth-right1-column{
  background-image: url("../images/sushi taro.jpg");
}

#fourth-right2-column{
  background-image: url("../images/dukem.jpg");
}


.top-box {
  width: 100%;
  height: 220px;
  background-color: rgba(255,255,255,.5);
}

.top-box:hover{
  background-color: rgba(255,255,255,.7);
}

.number {
  color: #2F4F4F;
  text-align: center;
  padding-top: 90px;
  font-family: 'Cinzel', serif;
  font-size: 26px;
}

/*Boxes Responsive*/
@media only screen and (max-width: 767px) {
  .restaurant-item{
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant-item{
    width: 50%;
  }
}


/*Contact*/
#overlay2{
  background-color: rgba(000,000,000,.5);
  width: 100%;
  height: 180px;
}

#overlay2:hover{
  background-color: rgba(000,000,000,.4);
}

#second{
  border-top: solid #d3d3d3 1px;
  border-bottom: solid #d3d3d3 1px;
  text-align: center;
  clear: both;
  background-image: url("../images/background7.png");
   background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

.comment{
    font-family: 'Cinzel', serif;
    color: #2F4F4F;
    font-size: 26px;
    font-weight: 800;
    border-bottom: solid #d3d3d3 1px;
   text-align: center;
   margin: 0px 400px 30px;
   color: white;
   padding-top: 40px;
}

.contact{
  font-size: 20px;
    font-family: 'Cinzel', serif;
    padding: 5px 20px 5px;
    color: #2F4F4F;
    text-transform: uppercase;
}

/*Contact Responsive*/
@media only screen and (max-width: 767px) {
  .comment{
    width: 50%;
    margin: 30px auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .comment{
    width: 50%;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 767px) {
  #second{
    background-attachment: scroll;
    background-size: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #second{
    background-attachment: local;
    background-size: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  #overlay2{
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #overlay2{
    width: 100%;
  }
}

/*Footer*/

footer{
  margin: 0 auto;
  width: 450px;
}

.footer{
  font-size: 26px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  border-bottom: solid #95a5a6 1px;
  margin: 30px 50px;
  text-align: center;
}

/*Footer Responsive*/
@media only screen and (max-width: 767px) {
  footer{
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer{
    width: 50%;
    margin: auto;
  }
}
